/**
 * 	Layout CSS
 */

body {
	background-color: #edeae1;
	color: #555555;
	font-size: 12px;
}

h1, h2, h3, h4 {
	color: #FFF;
	font-weight: normal;
}

h1 {
	font-size: 22px;
}

.margin5 {
	margin: 5px;
}

.margin10 {
	margin: 10px;
}

.bold-link {
	font-weight: bold;	
}

.image30 {
	height: 30px;
	width: 30px;
}

.image50 {
	height: 50px;
	width: 50px;
}

.image80 {
	height: 80px;
	width: 80px;
}


.image200 {
	height: 200px;
	width: 200px;
}

.ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
}

.uppercase {
	text-transform: uppercase;
}
/* HEADER */

.channel-menu {
	height: 120px;
	width: 732px;
}

.channel-menu a, .channel-menu a:hover{
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

.channel-menu .tag {
	width: 173px;
	height: 30px;
	padding: 5px;
	background: url("../img/photoshine/title_tag.png") no-repeat;
	position: relative;
	float: left;
}

.channel-menu .tag-icn {
	width: 40px;
	height: 30px;
	margin-left: 10px;
	background-image: url("../img/photoshine/channels_sprite.png");
}

.tag-featured-icn {
	background-position: 0px -433px;
}

.tag-celebrities-icn {
	background-position: 0px -45px;
}

.tag-fashion-icn {
	background-position: 0px -83px;
}

.tag-food-icn {
	background-position: 0px -123px;
}

.tag-travel-icn {
	background-position: 0px -160px;
}

.tag-animals-icn {
	background-position: 0px -200px;
}

.tag-sports-icn {
	background-position: 0px -240px;
}
.tag-music-icn {
	background-position: 0px -320px;
}

.tag-architecture-icn {
	background-position: 0px -280px;
}

.tag-design-icn {
	background-position: 0px -395px;
}

.tag-tech-icn {
	background-position: 0px -357px;
}

.tag-brands-icn {
	background-position: 0px -5px;
}

.search-submit {
    position: relative;
    top: 0px;
    left: -47px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}


.nf-popup {
	top: 35px;
	position: fixed;
	width: 300px;
	height: auto;
	display: none;	
}

.up-arrow {
	width: 0px;
	height: 0px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #5AB45A;
}

.nf-container {
	width: 300px;
	height: auto;
	margin-left: -140px;
	background-color: #FFF;
	box-shadow: 5px 5px 5px #333;
	border-radius: 4px;
	overflow: auto;
}

.nf-header, .nf-footer {
	width: 280px;
	height: 20px;
	padding: 5px 10px;
	text-align: center;
	color: #FFF;
	font-size: 18px;
}
.nf-content {
	max-height: 500px;
	overflow: auto;
}

.notifications {
	width: 300px;
	height: auto;
	border-bottom: solid 1px #EEE;
	overflow: hidden;
	position: relative;
	float: left;
}

.notifications {
	text-decoration: none;
}

.notifications-avatar, .notifications-photo {
	width: 50px;
	height: 50px;
	margin: 5px;
	position: relative;
	float: left;
}

.notifications-text {
	width: 175px;
	margin-top: 5px;
	height: auto;
	position: relative;
	float: left;
	min-height: 50px;
}
/* SIDEBAR */

/* TOOL-PANE */
#tool-pane {
	position: fixed;
	right: 10px;
	bottom: 0px;
	height: auto;
	width: 32px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
}
#tool-pane .loading{
	margin-bottom: 10px;
	display: none;
}
/* CONTENT */
#content {
	min-width: 980px;
	margin-top: 45px;
}
/* COMMON */
.time-ago {
	color: #989393;
	font-size: 11px;
}
/* END OF COMMON */

/* PHOTO DETAIL */
.photodetail-photo {
	/*margin: 0px 0px;*/
}
.photodetail-photo-inner {
	width: 600px;
	height: 600px;
	position: relative;
}	
.photodetail-more-info {
	width: 600px;
	height: 65px;
	background-color: rgba(0, 0, 0, 0.7);
	margin: -600px 0px 0px 0px;
	position: absolute;
	color: #FFF;
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: none;
}

.photodetail-photo:hover .photodetail-more-info  {
	display: inline;
	animation: showinfo 500ms;
	 -moz-animation: showinfo 500ms; /* Firefox */
	 -webkit-animation: showinfo 500ms; /* Safari and Chrome */
	 -o-animation: showinfo 500ms; /* Opera */
}

.photodetail-more-info a{
	color: #FFF;

}

@keyframes showinfo{
	from {height: 0px;}
	to {height: 65px;}
}

@-moz-keyframes showinfo{
	from {height: 0px;}
	to {height: 65px;}
}
 
@-webkit-keyframes showinfo{
	from {height: 0px;}
	to {height: 65px;}
}
 
@-o-keyframes showinfo{
	from {height: 0px;}
	to {height: 65px;}
}


.info-locaiton {
	width: 180px;
	padding: 5px;
	position: relative;
	float: left;
	height: 80px;
}
.info-option {
	width: 190px;
	padding: 5px;
	border-left: #EEE solid 1px;
	position: relative;
	float: left;
	height: 80px;
}
.photodetail-caption {
	margin: -600px 0px 0px 610px;
	height: 120px;
	border-bottom: solid 1px #AAA;
	overflow-y: auto;
	overflow-x: hidden;
	text-overflow: ellipsis;
}


.photodetail-sns {
	margin: 5px 0px 0px 610px;
	height: 35px;
	overflow: hidden;
}

.photodetail-list-like {
	margin: 0px 0px 0px 610px;
	height: 80px;
	border-bottom: solid 1px #AAA;
	overflow-y: auto;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
.photodetail-caption-inner {
	height: 100%;
	margin-left: 45px;
	margin-top: -45px;
	text-overflow: ellipsis;
}

.photodetail-like-btn {
	width: 20px;
	height: 20px;
	padding: 5px;
	margin-right: 2px;
}


.photodetail-like-btn.active {
    background-color: #DA4F49;
    background-image: -moz-linear-gradient(center top , #EE5F5B, #BD362F);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.more-opt {
	width: 23px;
	height: 23px;
	padding: 5px;
	margin: -1px 5px;	
}
.photodetail-list-comment {
	margin: 20px 5px 0px 605px;
	overflow-x: hidden;
	overflow-y: auto;
	height: 265px;
}

.photodetail-comment-container {
	width: 326px;
	height: auto;
	min-height: 45px;
	padding-bottom: 5px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	border-bottom: 1px solid #AAA;
	padding-top: 15px;
}

.photodetail-comment-time {
	width: 100%;
	margin-top: 5px;
}

.photodetail-view-all {
	margin: 0px 0px 0px 600px;
	position: absolute;
	height: 20px;
	width: 332px;
	text-align: center;
	background-color: #edeae1;
}

.photodetail-post-comment {
	height: 62px;
	margin: 5px 0px 0px 605px;
	padding: 0;
}
.photodetail-post-comment textarea{
	height: 55px;
	margin-bottom: 0px;
	width: 252px;
	float: left;
	margin: 0px 5px;
}
 /* TIMELINE */ 
.timeline-cover-bg {
	height: 250px;
	width: 100%;
	top: 0px;	
	overflow: hidden;
	background-image: url("../img/photoshine/noise-black.png");
	background-repeat: repeat;
	min-width: 980px;
}
.timeline-cover-bg img {
	
	transition-duration: 500ms;
}

.timeline-cover-bg div {
	opacity: 0.5;
	width:  105%;
}

.hi{
	border: 2px #FFF inset;
}
.low{
	border: 1px #FFF inset;
}
.timeline-cover {
	position: absolute;
	top: 0px;
	height: 300px;
	width: 100%;
	min-width: 980px;
	background-color: transparent;
	box-shadow: 0px 0px 10px #111;
}
.timeline-cover-inner {
	height: 130px;
	width: 980px;
	margin: 10px auto;
/*	border:  1px solid #000; */
}
.timeline-cover-avatar {
	height: 150px;
	width: 150px;
	border: 1px solid #000;
	position: relative;
	margin-top: -194px;
	left: 20px;
}
.timeline-info-bg {
	background-color: #000;
	opacity: 0.8;
	width: 100%;
	height: 133px;
	margin-top: 162px;
}
.timeline-cover-username {
	margin-top: 5px;
	font-size: 20px;
	color: #FFF;
	width: 150px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;

}

.timeline-cover-info {
	width: 300px;
	height: 123px;
	margin: -85px 0px 0px 185px;
	color: #FFF;
	position: relative;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 14px;

}

.timeline-cover-info a{
	color: #FFF;
}

.timeline-info-fullname {
	font-size: 24px;
	height: 20px;
	overflow: hidden;
	width: 300px;
	text-overflow:ellipsis;
}

.cover-btn-group {
	width: 408px;
	height: 30px;
	margin: 10px 0px 0px 498px;
}

.cover-user-static {
	width: 460px;
	height: 75px;
	margin: -123px 0px 0px 500px;
}

.timeline-stat {
	width: 100px;
	height: 75px;
	margin: 5px 20px;
	border-radius: 5px;
	position: relative;
	float: left;
	border: 1px #EEE inset;
}

.timeline-stat-inner {
	width: 100%;
	height: 50px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #FFF;
	overflow: hidden;
}
.timeline-stat-text {
	height: 20px;
	margin-top: 5px;
	border-bottom-left-radius: 5px ;
	border-bottom-right-radius: 5px ;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	overflow: hidden;
	font-size: 12px;
	text-overflow:ellipsis;
}

/* VIEWGROUP */
.viewmode-btn {
	width: 100%;
	height: 30px;
	margin: 20px 0;
}
.viewmode-group {
	width: 152px;
	margin: 0 auto;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #000;
	
}

.viewmode-grid {
	background: url("../img/photoshine/grid.png") no-repeat;	
}

.viewmode-list {
	background: url("../img/photoshine/list.png") no-repeat;
	border-left: 1px solid #000;
}

.viewmode-grid.active, .viewmode-grid:hover {
	background: url("../img/photoshine/grid_active.png") no-repeat;
	background-color: brown;
	background-size: 16px 16px;
	background-position: center;
}

.viewmode-list.active, .viewmode-list:hover {
	background: url("../img/photoshine/list_active.png") no-repeat;
	background-size: 16px 16px;
	background-color: brown;
	background-position: center;
}

.viewmode-grid, .viewmode-list {
	width: 50px;
	height: 30px;
	float: left;
	background-size: 16px 16px;
	background-position: center;
	cursor: pointer;
}

.viewmode-map {
    background-image: url("../img/glyphicons-halflings.png");
    background-repeat: no-repeat;
    background-position: -19px -82px;
	background-size: 670px 194px;
    display: inline-block;
	width: 50px;
	height: 30px;
	float: left;
	border-left: 1px solid #000;
	cursor: pointer;
	
}
.viewmode-map.active, .viewmode-map:hover {
	background-color: brown;
    background-image: url("../img/glyphicons-halflings-white.png");
    background-repeat: no-repeat;
    background-position: -19px -82px;
	background-size: 670px 194px;
}

/* GRIDVIEW */
.gridview-wrapper {
	margin-top: 10px;
	display: none;
}
.gridview-block {
	background-color: #FFF;
	width: 220px;
	height: 240px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #111;
	margin: 3px;
	float: left;
}
.gridview-image {
	position: absolute;
	margin: 10px 10px;
}
.gridview-caption {
	position: absolute;
	margin: 10px 20px 10px 20px;
	width: auto;
	max-width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: none;
	font-size: 12px;
	color: #000;
}
.gridview-block:hover  .gridview-image{
	opacity: 0.1;
}

.gridview-block:hover  .gridview-caption{
	display: block;
}
.gridview-static {
	position: absolute;
	width: 200px;
	margin-top: 215px;
	margin-left: 10px;
}


.gridview-like-btn{
	background-image: url("../img/photoshine/small_like.png");
}

.gridview-like-btn.active{
	opacity: 0.2;
}

.gridview-comment-btn{
	background-image: url("../img/photoshine/small_comment.png");
}

.gridview-like-btn, .gridview-comment-btn {
	background-repeat: no-repeat;
	vertical-align: central;
	height: 10px;
	width: 14px;
	display: inline-block;
	cursor: pointer;
}

/* 	MAPVIEW */
.mapview-wrapper {
	overflow: hidden;
	display: none;
}

/* 	LISTVIEW */
.listview-wrapper {
	margin-top: 10px;
	font-size: 12px;
}
.listview-block {
	background-color: #FFF;
	width: 220px;
	height: auto;
	box-shadow: 0px 0px 10px #111;
	margin: 7px;
	float: left;
	transition-duration: 500ms;
}
.listview-img {
	margin: 10px 10px 5px 10px;
	float: left;
}
.listview-sns {
	margin: -215px 0px 10px 0px;
	width: 210px;
	height: 32px;
	float: left;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	transition-duration: 500ms;
}

.listview-block:hover .listview-sns {
	display: inline;
}

.listview-static {
	margin: 5px 10px 10px 10px;
}
.listview-sns .photodetail-like-btn {
	margin: 0px 5px 0px 5px;
}
.sns-btn {
	background: url("../img/photoshine/social_icon.gif");
	background-repeat: no-repeat;	
	width: 32px;
	height: 32px;
	margin: 0px 5px 0px 5px;
}
.sns-btn:hover{
	opacity: 0.8;
}
.sns-btn.facebook {
	background-position: 0px -160px;
}

.sns-btn.tumblr {
	background-position: 0px -672px;
}

.sns-btn.twitter {
	background-position: 0px -704px;
}
.sns-btn.pinterest {
	background-position: 0px -544px;
}

.listview-caption {
	margin: 5px 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
}

.listview-avatar {
	width: 30px;
	height: 30px;
}
.listview-caption-content {
	margin: -35px 0px 0px 35px;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 165px;
}

.listview-tags {
	width: 200px;
}

.listview-comment-wrapper {
	width: 100%;
	margin: 5px 0px 0px;
	background-color: #F2F0F0;
}
.listview-comment {
	width: 220px;
	padding: 10px;
}
.listview-comment-content {
	width: 165px;
	margin: -35px 0px 0px 35px;
}

/* LOCATION */
#location-canvas {
	width: 100%;
	height: 200px;
	overflow: hidden;
	border-bottom: 1px solid #333;
}

.location-info {
	width: 100%;
	height: 75px;
	position: absolute;
	top: 170px;
	color: #FFF;
}

.location-info-inner {
	width: 960px;
	margin: 0 auto;
	height: 75px;
}

.location-info-left{
	width: 150px;
	height: 0px;
	border-bottom: 75px solid rgba(0, 0, 0, 0.7);
	border-left: 75px solid transparent;
	margin-right: 1px;
	float: left;
}

.location-info .left-text, .location-info .right-text {
	margin-top: 30px;
	text-align: center;
}

.location-info-center{
	width:508px;
	height: 65px;
	float: left;
	text-transform: uppercase;
	text-align: center;
	padding: 0px 0px 10px;
	background-color: rgba(0, 0, 0, 0.7);
}

.location-info-right{
	width: 150px;
	height: 0px;
	border-bottom: 75px solid rgba(0, 0, 0, 0.7);
	border-right: 75px solid transparent;
	float: left;
	margin-left: 1px;
}



/* CHANNEL */

/* 	SEARCH RESULT */

.user-result {
	width: 220px;
	height: auto;
	float: left;
	background-color: #FFF;
	box-shadow: 0px 0px 10px #111;
	float: left;
	transition-duration: 500ms;
	margin: 5px;
}
.user-result a{
	text-decoration: none;
}

.result-avatar img {
	width: 200px;
	height: 200px;
}

.result-name {
	text-align: center;
	color: #0088CC;
}

.tag-result .tag-name {
	margin: 0px 0px 2px 0px;
	width: 220px;
	float: left;
	background-color: #000;
	text-align: center;
	height: 40px;
}

.tag-result .tag-user-counter {
	margin: 0px 1px 0px 0px;
	width: 109px;
	float: left;
	background-color: #000;
	text-align: center;
	height: 80px;
}

.tag-result .tag-photo-counter {
	margin: 0px 0px 0px 1px;
	width: 109px;
	float: left;
	background-color: #000;
	text-align: center;
	height: 80px;
}

/* NEARBY */
.location-block {
	width: 310px;
	height: 75px;
	background-color: #FFFFFF;
	margin: 5px;
	float: left;
	box-shadow: 0px 0px 5px #333;
}

.location-block-img {
	width: 75px;
	height: 75px;
	float: left;
}

.location-block-img img{
	width: 75px;
	height: 75px;
}

.location-block-info {
	float: left;
	margin: 5px;
	width: 225px;
	height: 65px;
	position: relative;
	display: inline-block;
}

.nearby-location-name {
	font-size: 14px;
	padding: 5px;
	color: #000;
	height: 35px;
	border-bottom: 1px solid #EEE;
}

.nearby-location-desc {
	width: 180px;
	color: #938B8B;
	position: relative;
	float: left;
}

.nearby-location-counter {
	width: 44px;
	height: 20px;
	float: left;
	color: #938B8B;
	left: 0px;
	position: relative;
}

/* POPULAR */
.skew-label {
	width: 240px;
	height: 30px;
	position: fixed;
	top: 90px;
	left: -49px;
	color: #FFF;
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
	z-index: 10;
	transform: rotate(-45deg);
	 -ms-transform: rotate(-45deg); /* IE 9 */
	 -webkit-transform: rotate(-45deg); /* Safari and Chrome */
	 -o-transform: rotate(-45deg); /* Opera */
	 -moz-transform: rotate(-45deg); /* Firefox */
	box-shadow: 0px 0px 5px #333;
}

/* SETTINGS */
.bs-docs-sidenav {
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin: 30px 0 0;
    padding: 0;
    width: 228px;
}
.bs-docs-sidenav > li > a {
    border: 1px solid #E5E5E5;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
}
.bs-docs-sidenav > li:first-child > a {
    border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
    border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
    border: 0 none;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    padding: 9px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
}
.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}
.bs-docs-sidenav > li > a:hover {
    background-color: #F5F5F5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
    opacity: 0.5;
}
.bs-docs-sidenav .active .icon-chevron-right, .bs-docs-sidenav .active a:hover .icon-chevron-right {
    background-image: url("../img/glyphicons-halflings-white.png");
    opacity: 1;
}
.bs-docs-sidenav.affix {
    top: 40px;
}
.bs-docs-sidenav.affix-bottom {
    bottom: 270px;
    position: absolute;
    top: auto;
}
.bs-docs-container {
    max-width: 970px;
}
.bs-docs-sidenav {
    width: 258px;
}
.bs-docs-sidenav > li > a {
}
body > .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.quick-links li {
    display: inline-block;
    margin: 5px;
}
.bs-docs-sidenav {
    margin-right: 0;
    margin-top: 30px;
    top: 0;
    width: 218px;
}

.jumbotron {
    margin-top: -20px;
}
.bs-docs-sidenav {
    margin-top: 20px;
    width: 166px;
}
.bs-docs-sidenav.affix {
    top: 0;
}

.jumbotron {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    padding: 40px 20px;
}
.masthead h1 {
    font-size: 90px;
}
.masthead p, .masthead .btn {
    font-size: 24px;
}
.marketing .span4 {
    margin-bottom: 40px;
}
.bs-docs-social {
    margin: 0 -20px;
}
.show-grid [class*="span"] {
    margin-bottom: 5px;
}
.bs-docs-sidenav {
    margin-bottom: 20px;
    width: auto;
    box-shadow: 0px 0px 5px #666;
}
.edit-profile-wrapper {
	width: 960px;
	margin: 0 auto;
	padding-top: 20px;

}

.sidebar {
	width: 200px;
	font-size: 14px;
	float: left;
}
.edit-profile {
	margin: 20px 0px 0px 10px;
	width: 750px;
	float: left;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 0px 5px #666;
}
.edit-profile-header {
	height: 30px;
	padding: 5px 10px;
	text-align: center;
	font-size: 18px;
}

.edit-profile-body {
	padding: 10px;
	width: 730px;
	background-color: #FFF;
	font-size: 18px;
}

.edit-profile-footer {
	height: 30px;
	padding: 5px 10px;
	text-align: center;
	font-size: 18px;
}

/* SERVICESMAN */

.set-sns-btn {
	background-image: url("../img/photoshine/share_social.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 42px;
	height: 42px;
	margin: 0 auto;
	cursor: pointer;
}

.set-sns-btn.fb {
	background-position: 0px 0px;
}

.set-sns-btn.fb.active {
	background-position: -42px 0px;
}

.set-sns-btn.tw {
	background-position: -252px 0px;
}

.set-sns-btn.tw.active {
	background-position: -294px 0px;
}

.set-sns-btn.tb {
	background-position: -168px 0px;
}

.set-sns-btn.tb.active {
	background-position: -210px 0px;
}

.set-sns-btn.fl {
	background-position: -84px 0px;
}

.set-sns-btn.fl.active {
	background-position: -126px 0px;
}

/* FINDFRIENDS */

.find-fb-friend, .find-tw-friend {
	width: 175px;
	height: 38px;
	background-image: url("../img/photoshine/sns_friend.png");
	background-repeat: no-repeat;
}

.find-fb-friend {
	background-position: 0px 0px;
}
.find-fb-friend.active {
	background-position: 0px -38px;
}
.find-tw-friend {
	background-position: 0px -76px;
}
.find-tw-friend.active {
	background-position: 0px -114px;
}
.find-friend-input {
	width: 165px;
	height: 28px !important;
	margin: 0px !important;
}
.find-friend-submit {
	height: 38px;
}
.find-friend-wrapper .friend-result {
	width: 230px;
	height: 80px;
	float: left;
	border: 1px solid #666;
	margin: 5px;
	box-shadow: 0px 0px 3px #666;
	overflow: hidden;
}
.friend-result-name {
	width: 150px;
	float: left;
	display: block;
	font-size: 12px;
	text-align: center;
	height: 80px;
}
.find-result-follow-btn {
	width: 100%;
	cursor: pointer;
}

.find-result-follow-btn:hover {
	opacity: 0.8;
}

.friend-result-name a {
	text-decoration: none;
}
.sns-overlay {
	position: relative;
	top: -22px;
	left: 60px;
}

/* FEED */
.feed-block {
	width: 300px;
	position: fixed;
	top: 38px;
	left: 0px;
	overflow: hidden;
	float: left;
	transition-duration: 0ms;
	margin-left: 0px;
}