.photodetail-photo {
	margin: 0px 0px;
}

.photodetail-caption {
	margin: -600px 0px 0px 610px;
	height: 120px;
	border-bottom: solid 1px #AAA;
	overflow-y: auto;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.photodetail-sns {
	margin: 0px 0px 0px 610px;
	height: 40px;
	overflow: hidden;
}

.photodetail-list-like {
	margin: 0px 0px 0px 610px;
	height: 80px;
	border-bottom: solid 1px #AAA;
	overflow-y: auto;
	overflow-x: hidden;
	text-overflow: ellipsis;
}