/* SLIDEBOX */
#slidebox-background {
	width: 100%;
	height: 100%;
	background: #191717;
	position: fixed;
	opacity: 0.8;
	display: none;
	top: 0px;
	z-index: 1100;
}
#slidebox {
	background-color: #edeae1;
	margin: 0 auto;
	max-width: 960px;
	padding: 10px;
	box-shadow: #000 0px 0px 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#slidebox-content {
	height: auto;
}
#slidebox-wrapper {
	left: 0px;
	width: 100%;
	height: auto;
	position: fixed;
	float: left;
	transition-duration: 0.4s;
	display: none;
	z-index: 1101;
}
#slidebox iframe {
	border: none;
}