
.timeline-cover-bg {
	height: 250px;
	width: 100%;
	top: 0px;	
	overflow: hidden;
	background-image: url("../img/photoshine/noise-black.png");
	background-repeat: repeat;
	min-width: 980px;
}
.timeline-cover-bg img {
	
	transition-duration: 500ms;
}

.timeline-cover-bg div {
	opacity: 0.5;
	width:  105%;
}

.hi{
	border: 2px #FFF inset;
}
.low{
	border: 1px #FFF inset;
}
.timeline-cover {
	position: absolute;
	top: 0px;
	height: 300px;
	width: 100%;
	min-width: 980px;
	background-color: transparent;
	box-shadow: 0px 0px 10px #111;
}
.timeline-cover-inner {
	height: 280px;
	width: 980px;
	margin: 10px auto;
/*	border:  1px solid #000; */
}
.timeline-cover-avatar {
	height: 150px;
	width: 150px;
	border: 1px solid #000;
	position: relative;
	top: 129px;
	left: 20px;
}
.gridview-wrapper {
	margin-top: 10px;
}
.gridview-block {
	background-color: #FFF;
	width: 220px;
	height: 240px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #111;
	margin: 5px;
	float: left;
}
.gridview-image {
	position: absolute;
	margin: 10px 10px;
}
.gridview-caption {
	position: absolute;
	margin: 10px 20px 10px 20px;
	width: auto;
	max-width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: none;
	font-size: 12px;
	color: #000;
}
.gridview-block:hover  .gridview-image{
	opacity: 0.1;
}

.gridview-block:hover  .gridview-caption{
	display: block;
}
.gridview-static {
	position: absolute;
	width: 200px;
	margin-top: 215px;
	margin-left: 10px;
}


.gridview-like-btn{
	background-image: url("../img/photoshine/small_like.png");
}

.gridview-like-btn.active{
	opacity: 0.2;
}

.gridview-comment-btn{
	background-image: url("../img/photoshine/small_comment.png");
}

.gridview-like-btn, .gridview-comment-btn {
	background-repeat: no-repeat;
	vertical-align: central;
	height: 10px;
	width: 14px;
	display: inline-block;
	cursor: pointer;
}